.wrap {
  color: white;
  padding: 0;
  cursor: pointer;
}

.wrap h4 {
  display: flex;
  align-items: center;
}
.wrap h4 > .icon {
  margin-right: 10px;
  flex-shrink: 0;
}

.wrap:hover h4 {
  scale: 1.1;
  border: solid 1px #fff;
}
