.wrap {
  color: white;
  padding: 0;
}

.wrap h4 {
  display: flex;
  align-items: center;
}
.wrap h4 > .icon {
  margin-right: 10px;
  flex-shrink: 0;
}

/* .wrap h4 > * {
  margin-right: 10px;
} */
