/* .wrap {
  display: flex;
  height: 100%;
  width: 15%;
}

.menu {
  display: flex;
  height: 80%;
  align-content: center;
  background: white;
}
/* .menu > * {
  align-items: center;
} */

.wrap {
  width: 10%;
  height: 100vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrap > .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  /* display: flex; */
}

.profile {
  display: flex;
  height: 20%;
  justify-content: center;
}
/* 
.wrap > * {
  align-content: center;
} */
